.container{
    style="display: flex; 
    align-items:center; 
    justify-content:space-around; 
    width: 800px; height:500px; 
    background-color: chartreuse;"
}
.component{
    width: 100px;
    background-color: chocolate;
}